
SK_NAMESPACE=shopkeepr-api
SK_ENVIRONMENT=dev


SK_NODE_ENVIRONMENT=dev
SK_NODE_SERVER_PORT=4000


SK_REDIS_PORT=6379


SK_MONGODB_PORT=37017
SK_MONGODB_DATABASE=db_shopkeepr


SK_ELASTICSEARCH_PORT=19200
